# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#binaries
*.bin
*.dep

#Custom ignores
.DS_Store #for MAC
*~	#Swapfile ignore
*.swp
*.swp
